{% extends "base.html" %}

{% block app_content %}
    <style>
        .custom-button {
            background-color: #ffffff; /* 背景色白色 */
            color: #000000; /* 文字顏色黑色 */
            border: 1px solid #969595; /* 外框黑色，設定寬度為2px */
            padding: 6px 12px; /* 按鈕內文字與外框的距離 */
            border-radius: 4px; /* 設定圓角 */
            text-decoration: none; /* 去除超連結的底線 */
            display: inline-block; /* 讓按鈕水平排列 */
        }

        .custom-button:hover {
            background-color: #eeeeee; /* 鼠標懸停時背景色黑色 */
            color: #070707; /* 鼠標懸停時文字顏色白色 */
        }
    </style>

    <h1>購物車內容</h1>
    <table style="border-collapse: collapse; width: 50%;">
        <tr style="border: 1px solid #ddd;">
            <th style="padding: 8px; text-align: left; border: 1px solid #ddd;">商品名稱</th>
            <th style="padding: 8px; text-align: left; border: 1px solid #ddd;">價格</th>
            <th style="padding: 8px; text-align: left; border: 1px solid #ddd;">數量</th>
            <th style="padding: 8px; text-align: left; border: 1px solid #ddd;">小計</th>
        </tr>
        {% set total = 0 %}
        {% for item in car_list %}
        <tr style="border: 1px solid #ddd;">
            <td style="padding: 8px; text-align: left; border: 1px solid #ddd;">{{ item.product_name }}</td>
            <td style="padding: 8px; text-align: left; border: 1px solid #ddd;">{{ item.product_price }}元</td>
            <td style="padding: 8px; text-align: left; border: 1px solid #ddd;">{{ item.quantity }}</td>
            {% set item_total_price = item.product_price * item.quantity %}
            <td style="padding: 8px; text-align: left; border: 1px solid #ddd;">{{ item_total_price }}元</td>
            {% set total = total + item_total_price %}
        </tr>
        {% endfor %}
    </table>
    <p>總計：{{ session.total }}元</p>
    <a href="{{ url_for('products.place_order') }}" class="custom-button">送出訂單</a>
{% endblock %}
