<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Flask App</a>
        </div>
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% if request.endpoint == 'index' %}active{% endif %}">
                    <a href="{{ url_for('user.index')}}">Home</a>
                </li>
                <li class="{% if request.endpoint == 'products' %}active{% endif %}">
                    <a href="{{ url_for('products.products')}}">商品列表</a>
                </li>
                {% if current_user.is_admin %}
                    <li class="{% if request.endpoint == 'edit_products' %}active{% endif %}">
                    <a href="{{ url_for('products.edit_products')}}">商品編輯</a>
                    </li>
                    <li class="{% if request.endpoint == 'view_all_orders' %}active{% endif %}">
                        <a href="{{ url_for('products.view_all_orders')}}">查看訂單</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not current_user.is_authenticated %}
                    <li class="{% if request.endpoint == 'register' %}active{% endif %}">
                        <a href="{{ url_for('user.register')}}">註冊</a>
                    </li>               
                    <li class="{% if request.endpoint == 'login' %}active{% endif %}">
                        <a href="{{ url_for('user.login')}}">登入</a>
                    </li> 
                    {% else %}      
                    <li class="{% if request.endpoint == 'view_cart' %}active{% endif %}">
                        <a href="{{ url_for('products.view_cart')}}">購物車</a>
                    </li>
                    {% if not current_user.is_admin %}
                    <li class="{% if request.endpoint == 'view_order' %}active{% endif %}">
                        <a href="{{ url_for('products.view_order')}}">我的訂單</a>
                    </li>
                    {% endif %}
                    <li class="{% if request.endpoint == 'view_order_history' %}active{% endif %}">
                        <a href="{{ url_for('products.view_order_history')}}">已完成訂單</a>
                    </li>
                    <li class="{% if request.endpoint == 'logout' %}active{% endif %}">
                        <a href="{{ url_for('user.logout')}}">登出</a>
                    </li>
                    
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <style>
    .navbar-nav > li {
        margin-right: 10px;
    }
  </style>